<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user_pc.tbcrudsql">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Util.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pendaftaran.MainActivity" />
        <activity android:name=".pendaftaran.InsertData" />
        <activity android:name=".pendaftaran.Delete" />
        <activity android:name=".ortu.InsertOrtu" />
        <activity android:name=".ortu.HalamanOrtu" />
        <activity android:name=".ortu.deleteOrtu" />
        <activity android:name=".pembayaran.HalamanPembayaran" />
        <activity android:name=".pembayaran.InsertPembayaran" />
        <activity android:name=".pembayaran.DeletePembayaran" />
        <activity
            android:name=".Utama"
            android:label="@string/title_activity_utama"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>